.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/fsaFarmPayments/input_data
data-raw/fsaFarmPayments/output_data
inst
README_cache
.DS_Store
/doc/
/Meta/
.claude
data-raw/fsaCropAcreage/Cleaned_Data
data-raw/fsaCropAcreage/FSA Acreage Documentation
data-raw/fsaCropAcreage/Raw_Data
data-raw/fsaCropAcreage/fsaCropAcreageData.rds
data-raw/fsaCropAcreage/fsaCropAcreageData.parquet
